@model mf_dev_backend.Models.Consumo

@{
    ViewData["Title"] = "Create";
}

<h1>Criar novo consumo</h1>

<h4>Consumos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="km" class="control-label"></label>
                <input asp-for="km" class="form-control" />
                <span asp-validation-for="km" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipo" class="control-label"></label>
                <select asp-for="tipo" class="form-control" asp-items="Html.GetEnumSelectList<TipoCombustivel>()"></select>
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VeiculoId" class="control-label"></label>
                <select asp-for="VeiculoId" class ="form-control" asp-items="ViewBag.VeiculoId"></select>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-info">Voltar</a>
                <input type="submit" value="Adicionar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
